.wrap-inform-covid {
  padding: 60px 20px;
}
.col-dark {
  background-color: #22316b;
  color: #ffffff;
}
.icons-block-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 24px;
}
.text-light-blue {
  color: #1ca8e0;
}
.text-dark-blue {
  color:#22316b
}
.bottom-text-covid {
  margin-bottom: 0;
}
.icons-test {
  display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.icons-text-item {
  text-align: center;
  width: 33%;
  font-weight: bold;
}
.icons-text-item img {
  margin-bottom: 10px;
}
.inform-block-title {
  font-weight: bold;
    font-size: 21px;
}
.table-covid {
  margin-bottom: 0;
}
.table-covid thead td, .table-covid thead th {
  border-width: 1px;
  background: #dfedf9;
  color: #22316b;
  border-color: #22316b;
  text-align: center;
}
.table-covid  .referens-col {
  background: transparent;
  color: #dfedf9;
}
.table-covid td {
  text-align: center;
}
.table-covid .border-right-add {
  border-right: 1px solid #dfedf9;
  border-top: 1px solid #dfedf9;

}
.table-covid .border-left-add {
border-left: 1px solid #dfedf9;
border-top: 1px solid #dfedf9;
}
.result {
  font-size: 13px;
  font-style: italic;
}
.list-covid {
  padding-left: 30px;
}
.list-covid li {
  margin-bottom: 10px;
}
.block-item-text-covid {
  margin-bottom: 30px;
}

.row-flex {
  align-items: center;
}
.row-wrap {
  margin: 60px 0 0;
}
.bottom-line-text {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #22316b;
}
.bottom-line-text-item {
  padding: 15px;
}
.img-responsive {
  max-width: 100%;
}
.inform-block {
  text-align: center;
  margin: 30px 0;
}
.inform-text-block {
  font-size: 24px;
  margin: 30px 0 30px;
}
.inform-texl-link {
  font-size: 24px;
}
.img-block-xs {
  display: none;
}
@media all and (max-width: 991px) {
  .row-wrap {
    margin: auto;
}
.img-block-md {
  display: none;
}
.img-block-xs {
  display: block;
}
.wrap-inform-covid {
  padding: 40px 20px;
}
}
@media all and (max-width: 767px) {
  .table-covid {
    font-size: 12px;
  }
  .table td, .table th {
    padding: 5px;
  }
  .bottom-line-text-item {
    padding: 10px;
    font-size: 14px;
    text-align: center;
}
.icons-block-title {
  font-size: 24px;
  line-height: 28px;
}
}
