.text-primary {
  color: #337ab7 !important;
}
a {
  color: #337ab7 !important;
}
.wrap-inform-covid {
  padding: 60px 20px;
  font-size: var(--size-font);
}
.inform-block-logo {
  margin-bottom: 30px;
}
.col-dark {
  background-color: #22316b;
  color: #ffffff;
}
.icons-block-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 24px;
}
.text-light-blue {
  color: #1ca8e0;
}
.text-dark-blue {
  color:#22316b
}
.bottom-text-covid {
  margin-bottom: 0;
}
.icons-test {
  display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.icons-text-item {
  text-align: center;
  width: 33%;
  font-weight: bold;
}
.icons-text-item img {
  margin-bottom: 10px;
}
.inform-block-title {
  font-weight: bold;
    font-size: 21px;
    margin-bottom: 15px;
}
.table-covid {
  margin-bottom: 0;
}
.table-covid thead td, .table-covid thead th {
  border-width: 1px;
  background: #dfedf9;
  color: #22316b;
  border-color: #22316b;
  text-align: center;
}
.table-covid  .referens-col {
  background: transparent;
  color: #dfedf9;
}
.table-covid td {
  text-align: center;
}
.table-covid .border-right-add {
  border-right: 1px solid #dfedf9;
  border-top: 1px solid #dfedf9;

}
.table-covid .border-left-add {
border-left: 1px solid #dfedf9;
border-top: 1px solid #dfedf9;
}
.result {
  font-size: 13px;
  font-style: italic;
}
.list-covid {
  padding-left: 30px;
}
.list-covid li {
  margin-bottom: 10px;
}
.block-item-text-covid {
  margin-bottom: 30px;
}

.row-flex {
  align-items: center;
}
.row-wrap {
  margin: 60px 0 0;
}
.bottom-line-text {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #22316b;
}
.bottom-line-text-item {
  padding: 15px;
}
.img-responsive {
  max-width: 100%;
}
.inform-block {
  text-align: center;
  margin: 30px 0 0  ;
}
.inform-text-block {
  font-size: 24px;
  margin: 30px 0 15px;
  line-height: 40px;
}
.inform-texl-link {
  font-size: 28px;
}
.img-block-xs {
  display: none;
}
.logo-hh {
  max-width: 460px;
  margin-bottom: 24px;
}
.wrap-title-block {
  margin: 20px auto;
}
.subtitle-text {
  text-transform: uppercase;
  font-size: 32px;
  margin: 0;
}
.title-text {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}
.secondary-text-title {
  font-size: 24px;
}
.email-link {
  margin-bottom: 20px;
}
/*covid block*/
.title-covid-test {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #22316b;
  margin-top: 30px;
}
.inform-block-covid-text {
  font-size: 21px;
  line-height: 32px;
}
.ig-block {
  margin: 30px 0;
}
.ig-block-item {
  display: flex;
}
.ig-block-item p {
  margin: 0 40px 0 0;
  text-transform: uppercase;
  font-size: 21px;
}
.text-10min {
  background-color: #ffce25;
  font-size: 28px;
  max-width: 420px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}
.block-covid-wrap {
  display: flex;
  align-items: center;
  margin: 10px 0;
  justify-content: space-between;
}
.wrap-results {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.wrap-result-item-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.text-recommended {
  font-size: 14px;
  text-transform: none;
}
/*covid block end*/
@media all and (max-width: 1199px) {
  /*covid block*/
  .inform-block-covid-text {
    font-size: 18px;
    line-height: 26px;
  }
  .ig-block-item p {
    margin: 0 10px 0 0;
    font-size: 16px;
}
.title-covid-test {
  font-size: 42px;
}
/*end covid block*/
}
@media all and (max-width: 991px) {
/*covid block*/
  .title-covid-test {
  text-align: center;
}
  .block-covid-wrap {
  flex-wrap: wrap;
}
.inform-block-covid-text br {
  display: none;
}
.title-covid-test {
  margin-top: 0;
}
.ig-block-item p {
  margin: 0 40px 0 0;
  font-size: 21px;
}
.inform-block-covid {
  width: 100%;
  text-align: center;
}
.ig-block-item p {
  margin: 5px 10px;
}
.ig-block-item {
  justify-content: center;
}
.text-10min {
  margin: 0 auto 20px;
}
.img-block-covid {
  text-align: center;
  width: 100%;
}
.wrap-results {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
.wrap-result-item {
  margin: 10px;
}
/*end covid block*/
  .row-wrap {
    margin: auto;
}
.img-block-md {
  display: none;
}
.img-block-xs {
  display: block;
}
.wrap-inform-covid {
  padding: 40px 20px;
}
.inform-block-logo {
  margin-bottom: 0;
}
}
@media all and (max-width: 767px) {
  /*covid block*/
  .wrap-result-item {
    margin: 10px 5px 40px;
}
.title-covid-test {
  font-size: 26px;
}
.ig-block-item {
  flex-wrap: wrap;
}
.ig-block-item p {
  width: 100%;
}
.text-10min {
  max-width: inherit;
  margin: 0 auto 20px;
  font-size: 18px;
}
/*end covid block*/
  .table-covid {
    font-size: 12px;
  }
  .table td, .table th {
    padding: 5px;
  }
  .bottom-line-text-item {
    padding: 10px;
    font-size: 14px;
    text-align: center;
}
.icons-block-title {
  font-size: 24px;
  line-height: 28px;
}
.subtitle-text {
  font-size: 28px;
}
.title-text {
  font-size: 36px;
  margin-bottom: 0;
}
}
